@import './styleVariables/styles.module.scss';

.headerContainer {
  height: 5rem;
  border-bottom: 1px solid $border-gray;
  .header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-text;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5rem;
    font-weight: 900;
  }
}

.sectionContainer {
  min-height: calc(100vh - 5rem);
  .section {
    height: 100%;
    color: $primary-text;
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
    font-weight: 500;
  }
}

.footerContainer {
  background-color: $primary-accent;
  color: white;
  margin-top: 10rem;
  padding: 1rem;

  .footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    h2 {
      font-size: 1.2rem;
      margin: 1rem 0;
    }

    hr {
      margin: 2rem 0;
    }

    ul > li {
      font-size: 0.8rem;
      list-style-type: none;
    }
  }
}

@media screen and (max-width: 800px) {
  .footerContainer {
    .footer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 500px) {
  .footerContainer {
    .footer {
      grid-template-columns: 1fr;
    }
  }
}